.ava img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
}

.user_container {
    display: grid;
    grid-template-columns: 70px 1fr;
    background-color: #666;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
}

.description {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "n lc"
    "s ls";
    color: #0f0f0f;
    font: 20px 'comic ';

}

.n {
    grid-area: n;
}

.s {
    grid-area: s;
}

.lc {
    grid-area: lc;
}

.ls{
    grid-area: ls;
}