.cap {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    
}

.user {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.ava {
    grid-column: 1 / 1;
}

.ava img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid black;
}

.desc {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: 5fr 1fr;

}