*{
  margin: 0;
  padding: 0;
}

center {
  float: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* .bcg {
  /* background-color: #333; * /
  width: 100%;
  height: -1;
} */

.app-wrapper {
  margin: 0 auto;
  display: grid;
  min-height: 725px;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #444;
  border-radius: 20px;
  border: 3px solid black;
}